.container {
    width: 100%;
    margin-top: 10px;
}
.content {
    width: 1280px;
    margin: auto;
    color: white;
    display: flex;
    flex-direction: column;
}
.posts {
    width: 100%;
    background: white;
    min-height: 200px;
    color: black;
    padding: 10px;
    border-radius: 2px;
    font-size: 14px;
    margin: 10px;
    &__header {
        margin-bottom: 4px;
        padding-bottom: 4px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        &__title {
            font-size: 24px;
            font-weight: 600;
        }
        &__subtitle {
            font-size: 16px;
            color: rgba(0, 0, 0, 0.5);
        }
    }
}
